@charset "UTF-8";

#electronic_display canvas {
  margin-bottom : 100%;
  background: linear-gradient(     
  			    to bottom,     
			    rgb(144,67,60) 0%,     
			    rgb(130,193,202) 100%   );
}

#electronic_display canvas, menu {
  width:100%;
  position: absolute;
  
  color: white;
  
}
#electronic_display  input, #electronic_display button {
  color: gray;
  font-size: 30px;
  background: transparent;
  border: 3px solid gray;
  padding: 5px;
  margin-top: 5px;
  transition: all 500ms;
}

#electronic_display  button.active {
  color: aqua;
  border-color: aqua;
  box-shadow: 0 0 4px aqua;
  text-shadow: 0 0 14px aqua;
  transition: all 500ms;
}

#electronic_display  label {
  display: inline-block;
  color: gray;
  padding: 10px;
}